@font-face{
    font-family: Inter-Variable;
    src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
}

@font-face{
    font-family: Inter-Bold;
    src: url("../assets/fonts/static/Inter-Bold.ttf")
    format("truetype");
}

@font-face{
    font-family: Inter-Regular;
    src: url("../assets/fonts/static/Inter-Regular.ttf") format("truetype");
}

@font-face{
    font-family: Inter-Semi-bold;
    src: url("../assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
}